<!DOCTYPE html>
<html>
  <head>
    <title>Articcles</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <!-- Bootstrap first -->
    <link rel="stylesheet" media="all" href="/assets/base/bootstrap.css"  type="text/css">
    <!-- Your extra styling -->
    <link rel="stylesheet" media="all" href="/assets/application-52c2922bf3888faae91327ac966f10f93474a159ef20a14180eb9bd164ed87cf.css" data-turbolinks-track="true" />
  </head>
  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
    <div class="container">
      <%= yield %>
 </div>
 <%= render 'layouts/footer' %>
</body>
</html>
